h1, h2{
    font-family: "Kumar One", serif;
}

body{
    font-family: "Sirin Stencil", sans-serif;
}
      
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.background-container {
    width: 100%;
    height: 0 auto;
    background-image: url('https://www.pixelstalk.net/wp-content/uploads/images6/Light-Blue-Backgrounds-Free-Download.jpg');
    background-size: cover; /* faz cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
}

.alcance{
    max-width: 600px; /* Define a largura máxima */
    margin: 0 auto; /* Centraliza o elemento */
}

.botão{
    display: flex;
    justify-content: space-between;
    padding: 20px;

}
